In [1]:
#essential packages for dataimport/visualization
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from scipy import stats

#More advanced visualizing
import seaborn as sns
from sklearn.datasets import load_boston
import matplotlib.pyplot as plt
sns.set(style='ticks', palette='Set2')
# shows graphs in notebook
%matplotlib inline

In [2]:
paywall=pd.read_csv("/Users/tclawson/Desktop/lucid.csv")

In [3]:
paywall.head()

,id,Paid?,First payment date,First payment value,Registration Date,(Pw) Analytics,(Pw) Backup-restore,(Pw) Color-Management,(Pw) Custom-Fonts,(Pw) Downloadable-Publication,(Pw) Email-Thumb,(Pw) Embedding,(Pw) Page-Limit,(Pw) Pdf-dpi,(Pw) Premium Templates,(Pw) Pub-Password,(Pw) Publish-banner,(Pw) Revision-history,(Pw) Storage,(Pw) Unlicensed/View Only
0,12301319,0,1/0/00 0:00,0.0,3/10/16 2:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/30/16 19:39,3/10/16 2:35,5/30/16 18:23,NaN,NaN,NaN,NaN,NaN
1,11554167,0,1/0/00 0:00,0.0,2/17/16 18:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10813190,0,1/0/00 0:00,0.0,1/27/16 8:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12936154,0,1/0/00 0:00,0.0,3/31/16 3:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12218967,0,1/0/00 0:00,0.0,3/8/16 7:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
paywall=paywall.fillna(0)

In [5]:
paywall.head()

,id,Paid?,First payment date,First payment value,Registration Date,(Pw) Analytics,(Pw) Backup-restore,(Pw) Color-Management,(Pw) Custom-Fonts,(Pw) Downloadable-Publication,(Pw) Email-Thumb,(Pw) Embedding,(Pw) Page-Limit,(Pw) Pdf-dpi,(Pw) Premium Templates,(Pw) Pub-Password,(Pw) Publish-banner,(Pw) Revision-history,(Pw) Storage,(Pw) Unlicensed/View Only
0,12301319,0,1/0/00 0:00,0.0,3/10/16 2:22,0,0,0,0,0,0,0,5/30/16 19:39,3/10/16 2:35,5/30/16 18:23,0,0,0,0,0
1,11554167,0,1/0/00 0:00,0.0,2/17/16 18:23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,10813190,0,1/0/00 0:00,0.0,1/27/16 8:30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,12936154,0,1/0/00 0:00,0.0,3/31/16 3:03,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,12218967,0,1/0/00 0:00,0.0,3/8/16 7:48,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
paywall.describe()

                 id         Paid?  First payment value
count  5.526300e+04  55263.000000         55263.000000
mean   1.155247e+07      0.036824             1.860987
std    1.127108e+06      0.188331            19.911691
min    3.785400e+04      0.000000           -71.400000
25%    1.094708e+07      0.000000             0.000000
50%    1.166449e+07      0.000000             0.000000
75%    1.232740e+07      0.000000             0.000000
max    1.303029e+07      1.000000          3000.000000

In [7]:
paid = paywall.drop(paywall[(paywall['Paid?']<1)].index)

In [8]:
paid

,id,Paid?,First payment date,First payment value,Registration Date,(Pw) Analytics,(Pw) Backup-restore,(Pw) Color-Management,(Pw) Custom-Fonts,(Pw) Downloadable-Publication,(Pw) Email-Thumb,(Pw) Embedding,(Pw) Page-Limit,(Pw) Pdf-dpi,(Pw) Premium Templates,(Pw) Pub-Password,(Pw) Publish-banner,(Pw) Revision-history,(Pw) Storage,(Pw) Unlicensed/View Only
53228,11427443,1,2/20/16 9:57,9.95,2/13/16 8:53,0,0,0,0,2/20/16 10:04,0,0,2/20/16 9:37,0,0,0,0,0,2/13/16 8:54,0
53229,11393888,1,4/16/16 2:59,71.40,2/13/16 23:41,0,0,0,0,0,0,0,4/16/16 2:50,0,4/15/16 21:59,0,0,0,0,0
53230,12005152,1,5/1/16 7:24,9.95,3/2/16 2:09,0,0,0,5/1/16 8:37,5/5/16 2:04,0,0,4/17/16 8:41,0,0,0,0,0,4/28/16 15:31,0
53231,10530947,1,2/11/16 14:53,9.95,1/15/16 7:42,0,0,0,0,0,0,0,2/11/16 14:46,0,0,0,0,0,0,0
53232,10324972,1,1/14/16 16:33,9.95,1/7/16 15:12,0,0,0,1/7/16 15:52,0,0,0,1/14/16 16:26,0,0,0,1/14/16 16:14,0,0,0
53233,11827548,1,3/8/16 9:56,71.40,2/25/16 13:37,0,0,0,0,0,0,0,0,3/8/16 9:20,0,0,0,0,0,0
53234,11630164,1,2/26/16 23:16,9.95,2/19/16 20:37,0,0,5/12/16 0:54,3/8/16 22:38,4/25/16 13:22,0,0,4/19/16 1:42,0,0,0,0,0,4/21/16 14:10,0
53235,11416497,1,3/31/16 1:01,19.95,2/12/16 14:29,0,0,0,0,0,0,0,3/31/16 0:59,0,0,0,0,0,0,0
53236,12148855,1,3/9/16 17:44,9.95,3/6/16 8:10,0,0,0,0,0,0,0,3/7/16 14:05,3/9/16 17:34,3/6/16 8:13,0,0,0,0,0
53237,12934009,1,4/14/16 19:32,9.95,3/30/16 23:02,0,0,0,0,0,0,0,4/10/16 22:15,5/22/16 22:54,0,0,0,0,5/17/16 23:19,0
53238,12007665,1,3/2/16 4:26,155.40,3/2/16 4:19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53239,11349102,1,2/21/16 11:08,9.95,3/9/16 13:56,0,0,3/6/16 4:08,0,0,0,3/6/16 4:26,2/21/16 10:59,0,2/11/16 5:31,0,0,0,0,0
53240,9057986,1,3/7/16 4:06,71.40,3/7/16 3:59,0,0,0,0,0,0,0,3/7/16 4:02,0,0,0,0,0,0,0
53241,10315156,1,1/27/16 11:07,9.95,1/7/16 10:01,0,0,0,0,0,0,0,1/11/16 20:37,1/23/16 10:10,0,0,0,0,0,0
53242,12417861,1,3/23/16 8:09,9.95,3/14/16 8:03,0,0,0,0,0,0,0,0,0,0,0,0,0,3/23/16 8:04,0
53243,11686233,1,3/2/16 15:20,10.63,2/22/16 11:54,0,0,3/14/16 12:43,0,0,0,0,0,0,2/22/16 11:54,0,0,0,0,0
53244,10570922,1,2/3/16 14:57,19.95,1/17/16 13:44,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53245,9721013,1,3/29/16 13:29,480.00,3/29/16 13:27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53246,8399263,1,4/22/16 3:48,480.00,2/29/16 3:23,0,0,0,0,0,0,0,0,0,2/29/16 3:23,0,0,0,0,0
53247,1144855,1,5/23/16 12:00,71.40,3/7/16 15:40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53248,10465857,1,4/21/16 22:21,71.40,3/9/16 11:07,0,0,5/16/16 14:21,5/16/16 13:22,0,0,0,0,4/21/16 22:20,0,0,0,0,0,0
53249,2295792,1,1/20/16 12:39,71.40,7/8/14 20:23,0,0,2/15/16 15:54,0,0,0,0,0,0,0,0,0,0,1/20/16 12:37,12/10/15 9:48
53250,2836051,1,8/5/14 19:30,191.40,7/22/14 0:43,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53251,2246958,1,11/13/14 2:20,19.95,8/1/14 14:40,0,0,0,0,0,0,0,0,0,0,0,0,0,5/28/16 13:38,0
53252,3475282,1,12/8/15 9:59,9.95,9/16/14 9:20,0,0,12/10/15 3:21,0,0,5/7/15 7:51,6/27/15 16:04,11/30/15 15:20,9/1/15 8:23,12/8/15 9:53,0,0,0,11/17/15 9:29,0
53253,3294349,1,7/16/15 19:03,19.95,10/13/14 13:23,0,0,0,0,0,0,4/8/15 17:01,0,5/5/15 19:32,0,0,0,0,5/5/15 17:22,0
53254,3330901,1,9/9/15 14:02,95.40,11/18/14 18:36,0,0,9/30/15 13:04,0,0,0,9/30/15 18:14,2/13/16 8:37,6/30/15 20:07,8/17/15 14:51,0,0,0,2/1/16 7:28,0
53255,10823915,1,4/6/16 7:20,71.40,3/29/16 9:26,0,0,0,0,0,0,0,0,4/6/16 3:19,0,0,4/6/16 6:40,0,0,0
53256,4290351,1,3/29/15 11:13,9.95,1/24/15 16:21,0,0,0,3/20/16 2:20,0,0,0,0,3/14/15 11:32,3/15/15 16:11,0,0,0,3/26/15 12:22,0
53257,3604505,1,2/10/15 0:22,19.95,1/27/15 15:00,0,0,0,0,0,0,0,2/26/16 17:47,0,0,0,0,0,5/22/16 9:47,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55233,11323409,1,0,155.40,2/10/16 10:57,0,0,0,2/11/16 13:24,0,0,0,0,0,0,0,0,0,0,0
55234,11644252,1,0,405.00,2/20/16 23:25,0,0,0,0,0,0,0,5/2/16 15:01,0,0,0,0,0,0,0
55235,11414242,1,0,9.95,2/15/16 16:42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55236,10192056,1,0,9.95,1/3/16 10:58,0,0,1/3/16 11:10,0,0,0,0,1/10/16 18:58,0,0,0,0,0,1/10/16 18:58,0
55237,12605184,1,0,9.95,3/19/16 15:08,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55238,12514922,1,0,9.95,3/16/16 11:06,0,0,0,3/21/16 14:09,0,0,0,0,0,0,0,0,0,3/16/16 11:14,0
55239,10647050,1,0,155.40,3/5/16 9:03,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55240,10649322,1,0,9.95,1/21/16 11:19,0,0,1/21/16 12:32,1/21/16 11:21,0,0,0,0,0,0,0,0,0,0,0
55241,10404826,1,0,9.95,1/16/16 8:16,0,0,0,0,0,0,0,1/25/16 7:25,0,0,0,0,0,0,0
55242,10266211,1,0,9.95,1/5/16 18:31,0,0,0,1/16/16 20:57,0,0,0,0,0,0,0,0,0,0,0
55243,10964341,1,0,9.95,1/30/16 16:15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55244,3695938,1,0,95.40,2/23/16 20:26,6/9/15 22:46,0,0,0,0,0,0,0,0,2/23/16 20:28,0,0,0,0,0
55245,12411506,1,0,19.95,3/14/16 5:09,0,0,0,0,0,0,0,0,0,3/23/16 6:16,0,0,0,0,0
55246,10893515,1,0,9.95,1/31/16 10:33,0,0,0,2/5/16 3:39,0,0,0,0,0,1/31/16 10:38,0,0,0,0,0
55247,10323753,1,0,9.95,1/7/16 14:30,0,0,0,0,0,2/17/16 11:10,0,0,0,0,0,0,0,0,0
55248,12106668,1,0,71.40,3/4/16 7:59,0,0,4/12/16 9:41,0,0,0,0,0,4/12/16 8:58,0,0,0,0,4/12/16 9:40,0
55249,10658745,1,0,71.40,2/2/16 12:08,0,0,3/2/16 16:10,0,0,0,0,0,0,0,0,0,0,0,0
55250,12074735,1,0,9.95,3/3/16 11:21,0,0,0,0,0,0,0,3/19/16 20:22,0,0,0,0,0,0,0
55251,10763922,1,0,9.95,1/25/16 10:45,0,0,2/3/16 11:03,2/22/16 12:41,0,0,0,3/21/16 13:00,2/29/16 12:39,0,0,0,0,2/29/16 10:32,0
55252,12292860,1,0,9.95,3/9/16 20:55,0,0,0,0,0,0,0,0,3/17/16 13:33,0,0,0,0,0,0
55253,10740077,1,0,9.95,1/23/16 20:20,0,0,0,1/25/16 15:32,0,0,0,0,0,0,0,0,0,0,0
55254,12566912,1,0,19.95,3/17/16 15:06,0,0,0,0,0,0,0,3/17/16 15:53,0,0,0,0,0,0,0
55255,11267479,1,0,9.95,3/25/16 3:49,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55256,12425865,1,0,9.95,3/14/16 10:27,0,0,5/12/16 21:48,0,0,0,0,0,3/16/16 11:21,3/16/16 14:50,0,0,0,0,0
55257,10437781,1,0,9.95,1/13/16 6:11,0,0,1/17/16 3:35,0,0,0,0,0,0,0,0,0,0,0,0
55258,12825167,1,0,9.95,3/27/16 14:10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55259,11884212,1,0,9.95,2/27/16 11:40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55260,12771455,1,0,19.95,3/24/16 8:50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55261,11464405,1,0,9.95,2/15/16 9:26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55262,10662469,1,0,71.40,1/20/16 16:21,0,0,2/1/16 8:47,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
paid.describe()

                 id   Paid?  First payment value
count  2.035000e+03  2035.0          2035.000000
mean   1.110739e+07     1.0            50.537469
std    1.885333e+06     0.0            91.163016
min    1.368450e+05     1.0           -71.400000
25%    1.069890e+07     1.0             9.950000
50%    1.140323e+07     1.0            19.950000
75%    1.223738e+07     1.0            71.400000
max    1.301590e+07     1.0          3000.000000

In [10]:
paid = paid.drop(paid[(paid['First payment value']<1)].index)

In [11]:
paid.describe()

                 id   Paid?  First payment value
count  2.033000e+03  2033.0          2033.000000
mean   1.110632e+07     1.0            50.657427
std    1.885838e+06     0.0            91.127527
min    1.368450e+05     1.0             9.950000
25%    1.069864e+07     1.0             9.950000
50%    1.140043e+07     1.0            19.950000
75%    1.223572e+07     1.0            71.400000
max    1.301590e+07     1.0          3000.000000

In [12]:
paid

,id,Paid?,First payment date,First payment value,Registration Date,(Pw) Analytics,(Pw) Backup-restore,(Pw) Color-Management,(Pw) Custom-Fonts,(Pw) Downloadable-Publication,(Pw) Email-Thumb,(Pw) Embedding,(Pw) Page-Limit,(Pw) Pdf-dpi,(Pw) Premium Templates,(Pw) Pub-Password,(Pw) Publish-banner,(Pw) Revision-history,(Pw) Storage,(Pw) Unlicensed/View Only
53228,11427443,1,2/20/16 9:57,9.95,2/13/16 8:53,0,0,0,0,2/20/16 10:04,0,0,2/20/16 9:37,0,0,0,0,0,2/13/16 8:54,0
53229,11393888,1,4/16/16 2:59,71.40,2/13/16 23:41,0,0,0,0,0,0,0,4/16/16 2:50,0,4/15/16 21:59,0,0,0,0,0
53230,12005152,1,5/1/16 7:24,9.95,3/2/16 2:09,0,0,0,5/1/16 8:37,5/5/16 2:04,0,0,4/17/16 8:41,0,0,0,0,0,4/28/16 15:31,0
53231,10530947,1,2/11/16 14:53,9.95,1/15/16 7:42,0,0,0,0,0,0,0,2/11/16 14:46,0,0,0,0,0,0,0
53232,10324972,1,1/14/16 16:33,9.95,1/7/16 15:12,0,0,0,1/7/16 15:52,0,0,0,1/14/16 16:26,0,0,0,1/14/16 16:14,0,0,0
53233,11827548,1,3/8/16 9:56,71.40,2/25/16 13:37,0,0,0,0,0,0,0,0,3/8/16 9:20,0,0,0,0,0,0
53234,11630164,1,2/26/16 23:16,9.95,2/19/16 20:37,0,0,5/12/16 0:54,3/8/16 22:38,4/25/16 13:22,0,0,4/19/16 1:42,0,0,0,0,0,4/21/16 14:10,0
53235,11416497,1,3/31/16 1:01,19.95,2/12/16 14:29,0,0,0,0,0,0,0,3/31/16 0:59,0,0,0,0,0,0,0
53236,12148855,1,3/9/16 17:44,9.95,3/6/16 8:10,0,0,0,0,0,0,0,3/7/16 14:05,3/9/16 17:34,3/6/16 8:13,0,0,0,0,0
53237,12934009,1,4/14/16 19:32,9.95,3/30/16 23:02,0,0,0,0,0,0,0,4/10/16 22:15,5/22/16 22:54,0,0,0,0,5/17/16 23:19,0
53238,12007665,1,3/2/16 4:26,155.40,3/2/16 4:19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53239,11349102,1,2/21/16 11:08,9.95,3/9/16 13:56,0,0,3/6/16 4:08,0,0,0,3/6/16 4:26,2/21/16 10:59,0,2/11/16 5:31,0,0,0,0,0
53240,9057986,1,3/7/16 4:06,71.40,3/7/16 3:59,0,0,0,0,0,0,0,3/7/16 4:02,0,0,0,0,0,0,0
53241,10315156,1,1/27/16 11:07,9.95,1/7/16 10:01,0,0,0,0,0,0,0,1/11/16 20:37,1/23/16 10:10,0,0,0,0,0,0
53242,12417861,1,3/23/16 8:09,9.95,3/14/16 8:03,0,0,0,0,0,0,0,0,0,0,0,0,0,3/23/16 8:04,0
53243,11686233,1,3/2/16 15:20,10.63,2/22/16 11:54,0,0,3/14/16 12:43,0,0,0,0,0,0,2/22/16 11:54,0,0,0,0,0
53244,10570922,1,2/3/16 14:57,19.95,1/17/16 13:44,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53245,9721013,1,3/29/16 13:29,480.00,3/29/16 13:27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53246,8399263,1,4/22/16 3:48,480.00,2/29/16 3:23,0,0,0,0,0,0,0,0,0,2/29/16 3:23,0,0,0,0,0
53247,1144855,1,5/23/16 12:00,71.40,3/7/16 15:40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53248,10465857,1,4/21/16 22:21,71.40,3/9/16 11:07,0,0,5/16/16 14:21,5/16/16 13:22,0,0,0,0,4/21/16 22:20,0,0,0,0,0,0
53249,2295792,1,1/20/16 12:39,71.40,7/8/14 20:23,0,0,2/15/16 15:54,0,0,0,0,0,0,0,0,0,0,1/20/16 12:37,12/10/15 9:48
53250,2836051,1,8/5/14 19:30,191.40,7/22/14 0:43,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53251,2246958,1,11/13/14 2:20,19.95,8/1/14 14:40,0,0,0,0,0,0,0,0,0,0,0,0,0,5/28/16 13:38,0
53252,3475282,1,12/8/15 9:59,9.95,9/16/14 9:20,0,0,12/10/15 3:21,0,0,5/7/15 7:51,6/27/15 16:04,11/30/15 15:20,9/1/15 8:23,12/8/15 9:53,0,0,0,11/17/15 9:29,0
53253,3294349,1,7/16/15 19:03,19.95,10/13/14 13:23,0,0,0,0,0,0,4/8/15 17:01,0,5/5/15 19:32,0,0,0,0,5/5/15 17:22,0
53254,3330901,1,9/9/15 14:02,95.40,11/18/14 18:36,0,0,9/30/15 13:04,0,0,0,9/30/15 18:14,2/13/16 8:37,6/30/15 20:07,8/17/15 14:51,0,0,0,2/1/16 7:28,0
53255,10823915,1,4/6/16 7:20,71.40,3/29/16 9:26,0,0,0,0,0,0,0,0,4/6/16 3:19,0,0,4/6/16 6:40,0,0,0
53256,4290351,1,3/29/15 11:13,9.95,1/24/15 16:21,0,0,0,3/20/16 2:20,0,0,0,0,3/14/15 11:32,3/15/15 16:11,0,0,0,3/26/15 12:22,0
53257,3604505,1,2/10/15 0:22,19.95,1/27/15 15:00,0,0,0,0,0,0,0,2/26/16 17:47,0,0,0,0,0,5/22/16 9:47,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55233,11323409,1,0,155.40,2/10/16 10:57,0,0,0,2/11/16 13:24,0,0,0,0,0,0,0,0,0,0,0
55234,11644252,1,0,405.00,2/20/16 23:25,0,0,0,0,0,0,0,5/2/16 15:01,0,0,0,0,0,0,0
55235,11414242,1,0,9.95,2/15/16 16:42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55236,10192056,1,0,9.95,1/3/16 10:58,0,0,1/3/16 11:10,0,0,0,0,1/10/16 18:58,0,0,0,0,0,1/10/16 18:58,0
55237,12605184,1,0,9.95,3/19/16 15:08,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55238,12514922,1,0,9.95,3/16/16 11:06,0,0,0,3/21/16 14:09,0,0,0,0,0,0,0,0,0,3/16/16 11:14,0
55239,10647050,1,0,155.40,3/5/16 9:03,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55240,10649322,1,0,9.95,1/21/16 11:19,0,0,1/21/16 12:32,1/21/16 11:21,0,0,0,0,0,0,0,0,0,0,0
55241,10404826,1,0,9.95,1/16/16 8:16,0,0,0,0,0,0,0,1/25/16 7:25,0,0,0,0,0,0,0
55242,10266211,1,0,9.95,1/5/16 18:31,0,0,0,1/16/16 20:57,0,0,0,0,0,0,0,0,0,0,0
55243,10964341,1,0,9.95,1/30/16 16:15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55244,3695938,1,0,95.40,2/23/16 20:26,6/9/15 22:46,0,0,0,0,0,0,0,0,2/23/16 20:28,0,0,0,0,0
55245,12411506,1,0,19.95,3/14/16 5:09,0,0,0,0,0,0,0,0,0,3/23/16 6:16,0,0,0,0,0
55246,10893515,1,0,9.95,1/31/16 10:33,0,0,0,2/5/16 3:39,0,0,0,0,0,1/31/16 10:38,0,0,0,0,0
55247,10323753,1,0,9.95,1/7/16 14:30,0,0,0,0,0,2/17/16 11:10,0,0,0,0,0,0,0,0,0
55248,12106668,1,0,71.40,3/4/16 7:59,0,0,4/12/16 9:41,0,0,0,0,0,4/12/16 8:58,0,0,0,0,4/12/16 9:40,0
55249,10658745,1,0,71.40,2/2/16 12:08,0,0,3/2/16 16:10,0,0,0,0,0,0,0,0,0,0,0,0
55250,12074735,1,0,9.95,3/3/16 11:21,0,0,0,0,0,0,0,3/19/16 20:22,0,0,0,0,0,0,0
55251,10763922,1,0,9.95,1/25/16 10:45,0,0,2/3/16 11:03,2/22/16 12:41,0,0,0,3/21/16 13:00,2/29/16 12:39,0,0,0,0,2/29/16 10:32,0
55252,12292860,1,0,9.95,3/9/16 20:55,0,0,0,0,0,0,0,0,3/17/16 13:33,0,0,0,0,0,0
55253,10740077,1,0,9.95,1/23/16 20:20,0,0,0,1/25/16 15:32,0,0,0,0,0,0,0,0,0,0,0
55254,12566912,1,0,19.95,3/17/16 15:06,0,0,0,0,0,0,0,3/17/16 15:53,0,0,0,0,0,0,0
55255,11267479,1,0,9.95,3/25/16 3:49,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55256,12425865,1,0,9.95,3/14/16 10:27,0,0,5/12/16 21:48,0,0,0,0,0,3/16/16 11:21,3/16/16 14:50,0,0,0,0,0
55257,10437781,1,0,9.95,1/13/16 6:11,0,0,1/17/16 3:35,0,0,0,0,0,0,0,0,0,0,0,0
55258,12825167,1,0,9.95,3/27/16 14:10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55259,11884212,1,0,9.95,2/27/16 11:40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55260,12771455,1,0,19.95,3/24/16 8:50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55261,11464405,1,0,9.95,2/15/16 9:26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55262,10662469,1,0,71.40,1/20/16 16:21,0,0,2/1/16 8:47,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
paid = paid.drop(paid[(paid['First payment value']<1)].index)

In [14]:
paid.describe()

                 id   Paid?  First payment value
count  2.033000e+03  2033.0          2033.000000
mean   1.110632e+07     1.0            50.657427
std    1.885838e+06     0.0            91.127527
min    1.368450e+05     1.0             9.950000
25%    1.069864e+07     1.0             9.950000
50%    1.140043e+07     1.0            19.950000
75%    1.223572e+07     1.0            71.400000
max    1.301590e+07     1.0          3000.000000